@media screen and (max-width: 900px){
  .main_nav{
    display: none;
  }
  .mobile_menu span {
    background:none;
    font-size: 3rem;
    margin: 2rem 5rem 0 0;  
}
  .mobile_menu{   
    float: right;
    display: block;   
} 
.close_btn{
  font-size: 4rem;
  text-decoration: none;
  color:black
}
}
@media screen and (max-width: 600px) {
  header{
    height:450px;
    width: 100vw;
  }
  .heading_section2 p{
    margin:0 5rem;
  }
  .text_box > h1 {
    margin:0 3rem;
  }
  .logo{
    margin-left:3rem;
    margin-top: 1rem;
}
  .section2{
    height:1200px;
    width: 100vw;
  }
  .services_section2 > p{
    margin:0 5rem;
  }
  .section3{
    height:1300px;
    width: 100vw;
  }
  .members p{
    margin:0 5rem;
  }
  .tagline_section3{
    margin:0 4rem;
  }
  .members{
    text-align: center;
    margin-bottom:3rem;
}
  .section4{
    height:800px;
    width: 100vw;
  }
  .section5{
    height:1280px;
    width: 100vw;
  }
  .service1_section5 > img {
    height:14rem;
    width:28rem;  
}
  .section6{
    height:1200px;
    width: 100vw;
  }
  textarea{
    height: 15rem;
    width:35rem;
  }
  .section7{
    height:700px;
    width: 100vw;
  }
  footer{
    height: 220px;
  }
}

@media screen and (min-width: 600px) {
   header{
    height:400px;
    width: 100vw;
  }
  .text_box > h1 {
    margin:0 3rem;
  }
  .logo{
    margin-left:5rem;
    margin-top: 2rem;
}
  .section2{
    height:1100px;
    width: 100vw;
  }
  .services_section2 > p{
    margin:0 5rem;
  }
  .section3{
    height:1200px;
    width: 100vw;
  }
  .members p{
    margin:0 5rem;
  }
  .tagline_section3{
    margin:0 4rem;
  }
  .section4{
    height:800px;
    width: 100vw;
  }
  .section5{
    height:1600px;
    width: 100vw;
  }
  .service1_section5 > img {
    height:22rem;
    width:44rem;  
}
  .section6{
    height:1200px;
    width: 100vw;
  }
  .section7{
    height:550px;
    width: 100vw;
  }
} 
@media screen and (min-width: 768px) {
   header{
    height:400px;
    width: 100vw;
  }
  .text_box > h1 {
    margin:0 3rem;
  }
  .section2{
    height:730px;
    width: 100vw;
  }
  .services_section2 > p{
    margin:0 5rem;
  }
  .section3{
    height:730px;
    width: 100vw;
  }
  .members p{
    margin:0 5rem;
  }
  .tagline_section3{
    margin:0 4rem;
  }
  .section4{
    height:500px;
    width: 100vw;
  }
  .section5{
    height:800px;
    width: 100vw;
  }
  .service1_section5 > img {
    height:16rem;
    width:32rem;  
}
  .section6{
    height:800px;
    width: 100vw;
  }
  .section7{
    height:550px;
    width: 100vw;
  }
} 
@media screen and (min-width: 992px) {
  header{
    height:400px;
  }
  .text_box > h1 {
    margin:0;
  }
  .section2{
    height:500px;
    width: 100vw;
  }
  .services_section2 > p{
    margin:0;
  }
  .section3{
    height:550px;
    width: 100vw;
  }
  .members p{
    margin:0;
  }
  .tagline_section3{
    margin:0;
  }
  .section4{
    height:330px;
    width: 100vw;
  }
  .section5{
    height:800px;
    width: 100vw;
  }
  .service1_section5 > img {
    height:18rem;
    width:36rem;  
}
  .section6{
    height:600px;
    width: 100vw;
  }
  .section7{
    height:550px;
    width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  header{
    height:400px;
  }
  .text_box > h1 {
    margin:0;
  }
  .section2{
    height:500px;
    width: 100vw;
  }
  .services_section2 > p{
    margin:0;
  }
  .section3{
    height:530px;
    width: 100vw;
  }
  .members p{
    margin:0;
  }
  .tagline_section3{
    margin:0;
  }
  .section4{
    height:330px;
    width: 100vw;
  }
  .section5{
    height:900px;
    width: 100vw;
  }
  .service1_section5 > img {
    height:20rem;
    width:40rem; 
}
  .section6{
    height:450px;
    width: 100vw;
  }
  .section7{
    height:550px;
    width: 100vw;
  }
}